<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.hotelmanagementsystem.mapper.ReservationRecordMapper">
  <resultMap id="BaseResultMap" type="com.group.hotelmanagementsystem.entity.ReservationRecord">
    <id column="reservationRecordID" jdbcType="INTEGER" property="reservationRecordID" />
    <result column="customerName" jdbcType="VARCHAR" property="customerName" />
    <result column="customerPhone" jdbcType="VARCHAR" property="customerPhone" />
    <result column="roomTypeID" jdbcType="INTEGER" property="roomTypeID" />
    <result column="expectedCheckIn" jdbcType="TIMESTAMP" property="expectedCheckIn" />
    <result column="staffID" jdbcType="INTEGER" property="staffID" />
    <result column="recordTime" jdbcType="TIMESTAMP" property="recordTime" />
    <result column="reservationStatusID" jdbcType="INTEGER" property="reservationStatusID" />
  </resultMap>
  <resultMap id="RelationResultMap" type="com.group.hotelmanagementsystem.entity.ReservationRecord" extends="BaseResultMap">
    <association column="roomTypeID" javaType="com.group.hotelmanagementsystem.entity.RoomType" property="roomType" >
      <id column="roomTypeID" jdbcType="INTEGER" property="roomTypeID" />
      <result column="roomTypeName" jdbcType="VARCHAR" property="roomTypeName" />
      <result column="roomPrice" jdbcType="DECIMAL" property="roomPrice" />
      <result column="roomDeposit" jdbcType="DECIMAL" property="roomDeposit" />
      <result column="roomSize" jdbcType="DECIMAL" property="roomSize" />
    </association>
    <association column="reservationStatusID" javaType="com.group.hotelmanagementsystem.entity.ReservationStatus" property="reservationStatus" >
      <id column="reservationStatusID" jdbcType="INTEGER" property="reservationStatusID" />
      <result column="reservationStatusName" jdbcType="VARCHAR" property="reservationStatusName" />
    </association>
  </resultMap>

  <sql id="Base_Column_List">
    reservationRecordID, customerName, customerPhone, roomTypeID, expectedCheckIn, staffID, 
    recordTime, reservationStatusID
  </sql>
  <sql id="All_Column_List">
    *
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="RelationResultMap">
    select 
    <include refid="All_Column_List" />
    from ReservationRecord r
    inner join RoomType rt on r.roomTypeID = rt.roomTypeID
    inner join ReservationStatus rs on r.reservationStatusID = rs.reservationStatusID
    where reservationRecordID = #{reservationRecordID,jdbcType=INTEGER}
  </select>
  <select id="selectByCustomerName" parameterType="java.lang.String"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ReservationRecord
    where customerName = #{customerName,jdbcType=VARCHAR} and reservationStatusID = 1
  </select>
  <select id="selectAll" resultMap="RelationResultMap">
    select
    <include refid="All_Column_List" />
    from ReservationRecord r
    inner join RoomType rt on r.roomTypeID = rt.roomTypeID
    inner join ReservationStatus rs on r.reservationStatusID = rs.reservationStatusID
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ReservationRecord
    where reservationRecordID = #{reservationRecordID,jdbcType=INTEGER}
  </delete>
  <update id="alterTable">
    alter table ReservationRecord auto_increment= 1
  </update>
  <insert id="insert" keyColumn="reservationRecordID" keyProperty="reservationRecordID" parameterType="com.group.hotelmanagementsystem.entity.ReservationRecord" useGeneratedKeys="true">
    insert into ReservationRecord (customerName, customerPhone, roomTypeID, 
      expectedCheckIn, staffID, recordTime, reservationStatusID
      )
    values (#{customerName,jdbcType=VARCHAR}, #{customerPhone,jdbcType=VARCHAR}, #{roomTypeID,jdbcType=INTEGER}, 
      #{expectedCheckIn,jdbcType=TIMESTAMP}, #{staffID,jdbcType=INTEGER}, #{recordTime,jdbcType=TIMESTAMP},
      #{reservationStatusID,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="reservationRecordID" keyProperty="reservationRecordID" parameterType="com.group.hotelmanagementsystem.entity.ReservationRecord" useGeneratedKeys="true">
    insert into ReservationRecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerName != null">
        customerName,
      </if>
      <if test="customerPhone != null">
        customerPhone,
      </if>
      <if test="roomTypeID != null">
        roomTypeID,
      </if>
      <if test="expectedCheckIn != null">
        expectedCheckIn,
      </if>
      <if test="staffID != null">
        staffID,
      </if>
      <if test="recordTime != null">
        recordTime,
      </if>
      <if test="reservationStatusID != null">
        reservationStatusID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerPhone != null">
        #{customerPhone,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeID != null">
        #{roomTypeID,jdbcType=INTEGER},
      </if>
      <if test="expectedCheckIn != null">
        #{expectedCheckIn,jdbcType=TIMESTAMP},
      </if>
      <if test="staffID != null">
        #{staffID,jdbcType=INTEGER},
      </if>
      <if test="recordTime != null">
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reservationStatusID != null">
        #{reservationStatusID,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.hotelmanagementsystem.entity.ReservationRecord">
    update ReservationRecord
    <set>
      <if test="customerName != null">
        customerName = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerPhone != null">
        customerPhone = #{customerPhone,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeID != null">
        roomTypeID = #{roomTypeID,jdbcType=INTEGER},
      </if>
      <if test="expectedCheckIn != null">
        expectedCheckIn = #{expectedCheckIn,jdbcType=TIMESTAMP},
      </if>
      <if test="staffID != null">
        staffID = #{staffID,jdbcType=INTEGER},
      </if>
      <if test="recordTime != null">
        recordTime = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reservationStatusID != null">
        reservationStatusID = #{reservationStatusID,jdbcType=INTEGER},
      </if>
    </set>
    where reservationRecordID = #{reservationRecordID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.hotelmanagementsystem.entity.ReservationRecord">
    update ReservationRecord
    set customerName = #{customerName,jdbcType=VARCHAR},
      customerPhone = #{customerPhone,jdbcType=VARCHAR},
      roomTypeID = #{roomTypeID,jdbcType=INTEGER},
      expectedCheckIn = #{expectedCheckIn,jdbcType=TIMESTAMP},
      staffID = #{staffID,jdbcType=INTEGER},
      recordTime = #{recordTime,jdbcType=TIMESTAMP},
      reservationStatusID = #{reservationStatusID,jdbcType=INTEGER}
    where reservationRecordID = #{reservationRecordID,jdbcType=INTEGER}
  </update>
</mapper>